[Unit]
Description=ANet Auth Server
After=network.target
Wants=network.target
Before=network-online.target

[Service]
Type=simple
DynamicUser=yes
NoNewPrivileges=yes

Environment=RUST_LOG=info

WorkingDirectory=/opt/anet
ExecStart=/opt/anet/anet-auth
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
TimeoutStartSec=30s

[Install]
WantedBy=multi-user.target
