[network]
mask = "255.255.255.0"
net = "10.0.0.0"
gateway = "10.0.0.1"
mtu = 1300
if_name = "anet-server"
self_ip = "10.0.0.2"

[server]
auth_phrase = "test_test_test"
cert = """"
-----BEGIN CERTIFICATE-----
...........................
-----END CERTIFICATE-------
"""
key = """
-----BEGIN PRIVATE KEY-----
...........................
-----END PRIVATE KEY-------
"""
bind_to = "0.0.0.0:8443"
external_if = "eth0"
udp_port = 8446

# =========================================================================
# Настройки транспорта QUIC (Quinn Transport Configuration)
# =========================================================================
[quic_transport]
# Алгоритм контроля перегрузки QUIC.
# Доступные значения: "bbr" (рекомендуется, более эффективен при потерях/высоких задержках)
# или "cubic" (устаревший, менее рекомендован).
algorithm = "bbr"

# Ожидаемое время кругового обхода (RTT) в миллисекундах.
# Quinn использует эту оценку для настройки внутренних таймеров и расчета оптимальных
# размеров окон Flow Control (если окна установлены в 0) при начале соединения.
# Должно быть чуть выше вашего среднего пинга до сервера.
expected_rtt_ms = 61

# Предполагаемая пропускная способность канала в Мбит/с.
# Этот параметр используется в расчетах размеров окон потоков (Stream/Connection
# Receive Window) для соответствия Bandwidth-Delay Product (BDP), если окна не заданы явно.
bandwidth_mbps = 1000

# Максимальный размер окна потока приема (в байтах).
# Это максимальное количество данных, которое мы готовы принять на одном QUIC Stream
# до получения подтверждения о готовности обработать еще данные (для Flow Control).
# Если установлено в 0, вычисляется автоматически на основе expected_rtt_ms и bandwidth_mbps.
stream_receive_window = 41943040

# Максимальный размер общего окна приема для всего QUIC соединения (в байтах).
# Должно быть в несколько раз больше stream_receive_window. Ограничивает общий буфер
# приема для всех активных QUIC потоков.
# Если установлено в 0, вычисляется автоматически на основе stream_receive_window.
receive_window = 167772160
# Включить сегментацию offload (GSO/UFO). Позволяет сетевой карте
# обрабатывать сегментацию больших QUIC пакетов (если поддерживается ядром и железом).
# Повышает производительность, снижая нагрузку на CPU. Рекомендуется включать.
enable_gso = true

# Таймаут неактивности соеденения
idle_timeout_seconds = 21600
