name: "Build Components"

on:
  workflow_call:
    outputs:
      server-artifact:
        value: ${{ jobs.build-linux-server.outputs.artifact }}
      linux-client-artifact:
        value: ${{ jobs.build-linux-client.outputs.artifact }}
      windows-client-artifact:
        value: ${{ jobs.build-windows-client.outputs.artifact }}

jobs:
  build-linux-server:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "Install musl tools"
        run: "sudo apt-get install -y musl-tools protobuf-compiler"

      - name: "Install Rust"
        uses: "actions-rs/toolchain@v1"
        with:
          toolchain: "stable"
          target: "x86_64-unknown-linux-musl"
          override: "true"

      - name: "Build Server"
        run: "RUSTFLAGS=\"-C target-feature=+crt-static\" cargo build --release --package anet-server --target x86_64-unknown-linux-musl"

      - uses: "actions/upload-artifact@v4"
        with:
          name: "anet-server"
          path: "target/x86_64-unknown-linux-musl/release/anet-server"

  build-linux-client:
    name: "Build Linux Client"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "Install musl tools"
        run: "sudo apt-get install -y musl-tools protobuf-compiler"

      - name: "Install Rust"
        uses: "actions-rs/toolchain@v1"
        with:
          toolchain: "stable"
          target: "x86_64-unknown-linux-musl"
          override: "true"

      - name: "Build Client (Linux)"
        run: "RUSTFLAGS=\"-C target-feature=+crt-static\" cargo build --release --package anet-client --target x86_64-unknown-linux-musl"

      - uses: "actions/upload-artifact@v4"
        with:
          name: "anet-client-linux"
          path: "target/x86_64-unknown-linux-musl/release/anet-client"

  build-windows-client:
    name: "Build Windows Client"
    runs-on: "windows-latest"
    steps:
      - uses: "actions/checkout@v4"

      - name: "Install protoc (Windows)"
        run: "choco install protoc"

      - name: "Install Rust"
        uses: "actions-rs/toolchain@v1"
        with:
          toolchain: "stable"
          override: "true"

      - name: "Build Client (Windows)"
        run: "cargo build --release --package anet-client"

      - uses: "actions/upload-artifact@v4"
        with:
          name: "anet-client-windows"
          path: "target/release/anet-client.exe"

  create-installer:
    name: "Create Windows Installer"
    runs-on: "windows-latest"
    needs: "build-windows-client"
    steps:
      - name: "Checkout repository"
        uses: "actions/checkout@v4"
      - name: "Download Client Artifact"
        uses: "actions/download-artifact@v4"
        with:
          name: "anet-client-windows"
          path: "installer_source/"
      - name: "Install Inno Setup"
        shell: "powershell"
        run: "choco install -y innosetup"
      - name: "Prepare Source Files"
        shell: "powershell"
        run: |
          # 3.1. Перемещение anet-client.exe в корень, как ожидает ISS
          Get-ChildItem installer_source\anet-client.exe | Move-Item -Destination installer_source\anet-client.exe

          # 3.2. Скачивание и размещение Wintun DLL
          $WINTUN_VERSION="0.14.1"
          Invoke-WebRequest -Uri "https://www.wintun.net/builds/wintun-$WINTUN_VERSION.zip" -OutFile "wintun.zip"
          Expand-Archive -Path "wintun.zip" -DestinationPath "wintun"
          Copy-Item -Path "wintun\wintun\bin\amd64\wintun.dll" -Destination "installer_source\wintun.dll"

          # 3.3. Копирование config и ISS скрипта в рабочую директорию
          Copy-Item -Path "contrib\config\client.toml" -Destination "installer_source\client.toml"

          # Для запуска ISCC скрипт должен быть в рабочем каталоге
          Copy-Item -Path "contrib\inno_setup\install.iss" -Destination "installer_source\install.iss"

          # Иконка
          Copy-Item -Path "contrib\inno_setup\anet.ico" -Destination "installer_source\anet.ico"

          # Удаление временного каталога
          Remove-Item wintun, wintun.zip -Recurse
      - name: Set Release Version (for ISCC Define)
        shell: bash
        run: |
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            # Для тегов: убираем 'v' в начале
            VERSION=${GITHUB_REF#refs/tags/v}
          else
            # Для веток: берем только последнюю часть после '/'
            VERSION=${GITHUB_REF##*/}
          fi
          # Очищаем версию от недопустимых символов
          CLEAN_VERSION=$(echo "$VERSION" | sed 's/[\/\\:*?"<>|]/-/g')
          echo "VERSION_ARG=/DMyAppVersion=$CLEAN_VERSION" >> $GITHUB_ENV
          echo "Clean version set to: $CLEAN_VERSION"

      - name: "Compile Inno Setup Installer (using ISCC.exe)"
        shell: "cmd"
        run: |
          "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" "%GITHUB_WORKSPACE%\installer_source\install.iss" /O"%GITHUB_WORKSPACE%\installer_source\Output" ${{ env.VERSION_ARG }}
      - name: "Upload Installer Artifact"
        uses: "actions/upload-artifact@v4"
        with:
          path: installer_source\Output\*.exe
          name: anet-client-setup-windows
          if-no-files-found: error
  build-android-libs:
    name: "Build Rust for Android"
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v4"

      # Установка Android NDK и Rust таргетов
      - name: "Setup Android NDK"
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26d # Или какая у тебя локально

      - name: "Install Rust Targets"
        run: |
          rustup target add aarch64-linux-android
          rustup target add x86_64-linux-android

      - name: "Install cargo-ndk"
        run: "cargo install cargo-ndk"

      - name: "Build .so libs"
        run: |
          cargo ndk -t aarch64-linux-android -o ./jniLibs build --release -p anet-mobile

      - uses: "actions/upload-artifact@v4"
        with:
          name: "anet-mobile-libs"
          path: "jniLibs/"
  package-android-apk:
    name: "Package Android APK"
    runs-on: "ubuntu-latest"
    needs: "build-android-libs" # Ждем Rust библиотеки
    steps:
      # 1. Скачиваем исходники Android UI (из второй репы)
      - name: "Checkout Android UI Repo"
        uses: actions/checkout@v4
        with:
          repository: "ZeroTworu/anet-android"
          path: "android-ui"
          # Если репа приватная, нужен token:
          # token: ${{ secrets.MY_PAT }}

      # 2. Скачиваем собранные Rust библиотеки
      - name: "Download Rust Libs"
        uses: actions/download-artifact@v4
        with:
          name: "anet-mobile-libs"
          path: "android-ui/app/src/main/jniLibs"
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: "Build APK"
        run: |
          cd android-ui
          chmod +x gradlew
          ./gradlew assembleDebug
      - uses: "actions/upload-artifact@v4"
        with:
          name: "anet-android-apk"
          path: "android-ui/app/build/outputs/apk/debug/app-debug.apk"
